<!DOCTYPE html>
<html>
    <head>
        <title>{{ .Name }}</title>
        <link href="data:text/plain," rel="icon">
        <link href="/_/style.css" rel="stylesheet">
        <script src="/_/cast.js"></script>
    </head>
    <body>
        <h1><a href="..">{{ .Name }}</a></h1>
        <ul>
            {{ range .Directories }}
            <li><a href="{{ hashName . }}/">{{ . }}</a></li>
            {{ end }}
        </ul>
        <ul>
            {{ range .Files }}
            <li>{{ . }}</li>
            {{ end }}
        </ul>
        <script src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1" defer></script>
        <google-cast-launcher></google-cast-launcher>
    </body>
</html>
