:root {
    --color-foreground: #111;
    --color-background: #eee;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-foreground: #eee;
        --color-background: #111;
    }
}

:root {
    color: var(--color-foreground);
    background: var(--color-background);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150%;
}

:any-link {
    color: inherit;
}

:root:not([data-state="login"]) #login {
    display: none;
}

#login {
    display: flex;
    flex-direction: row;
}

:root:not([data-state="listing"]) #listing {
    display: none;
}

:root:not([data-state="error"]) #error {
    display: none;
}

#castbutton {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 10em;
    cursor: pointer;
}
